/* Page-specific styling for Subsidiaries page */

/* Customize Right Panel Backgrounds */
.kypex {
    background: url('../assets/images/KypexTech.jpeg') no-repeat center center;
    background-size: cover;
}

.unfold-africa {
    background: url('../assets/images/Unfold-Africa.jpeg') no-repeat center center;
    background-size: cover;
}

.trucklord {
    background: url('../assets/images/TruckLord.jpeg') no-repeat center center;
    background-size: cover;
}

.mocrest-energy {
    background: url('../assets/images/MoCrestEnergy.jpeg') no-repeat center center;
    background-size: cover;
}
