/* Page-specific styling for Subsidiaries page */

/* Customize Right Panel Backgrounds */
.kypex {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* Overlay */
        url('../assets/images/KypexTech.jpeg') no-repeat center center;
    background-size: cover;
}

.unfold-africa {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* Overlay */
        url('../assets/images/UnfoldAfrica.jpeg') no-repeat center center;
    background-size: cover;
}

.trucklord {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* Overlay */
        url('../assets/images/TruckLord.jpeg') no-repeat center center;
    background-size: cover;
}

.mocrest-energy {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* Overlay */
        url('../assets/images/MoCrestEnergy.jpeg') no-repeat center center;
    background-size: cover;
}

